:host {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  cursor: pointer;
  border: 0 none;
  background: none;
  gap: .5rem;
  flex-direction: column;
}

button * {
  pointer-events: none;
}

.label {
  font-size: 0;
  text-indent: -10000rem;
}

.bar1, .bar2, .bar3 {
  flex: 1;
  min-width: 2rem;
  min-height: .25rem;
  background-color: #000;
  transition: 0.4s;
}

.dark-mode .bar1,
.dark-mode .bar2,
.dark-mode .bar3 {
  background-color: #fff;
}

.active .bar1 {
  -webkit-transform: rotate(-40deg) translate(-.5rem, .59rem);
  transform: rotate(-40deg) translate(-.5rem, .59rem);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  -webkit-transform: rotate(40deg) translate(-.48rem, -.55rem);
  transform: rotate(40deg) translate(-.48rem, -.55rem);
}
