:host {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  min-width: 2rem;
  max-width: 2rem;
}

a * {
  pointer-events: none;
}

a > img {
  flex: 1;
  width: 100%;
  height: auto;
}
