:host {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  min-width: 2rem;
  max-width: 2rem;
  transition: all .25s ease-out;
}

a * {
  pointer-events: none;
}

a:hover {
  transform: translate(0, -.25rem) scale(1.1);
}

a > img {
  flex: 1;
  width: 100%;
  height: auto;
}
